---
import Layout from '@layouts/Layout.astro'
import t from '@utils/translate'
---

<Layout title="home">
	<header>
		<h1>{t("home.im")}</h1>
	</header>
</Layout>

<style lang="scss">
	@media screen and (min-width: 1366px) {
		header {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2rem;

			h1 {
				margin: 16rem 0;
				font-size: 4rem;
			}
		}
	}
</style>
