---
interface Props {
  to: string
}

const { to } = Astro.props
---

<a href={to}><slot /></a>
<style>
  a {
    color: currentColor;
    text-decoration: none;
  }

  nav a, footer a {
    text-underline-offset: 4px;
  }

  nav a:hover, footer a:hover {
    text-decoration-line: underline;
  }
</style>