---
import Link from './Link.astro'
import Wordmark from './Wordmark.astro'
---

<nav>
  <div id='wordmark'>
    <Link to='/'><Wordmark style='font-size: 1.5rem' /></Link>
  </div>
</nav>
<style>
	nav {
    display: flex
  }

  #wordmark {
    padding: 2rem 3rem
  }
</style>
