---
import { default as t, Dictionary } from '@utils/translate'

interface Props {
	title: keyof Dictionary['title']
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content="I'm a 15-years-old student based in Baku, Azerbaijan." />
		<meta property='og:image' content={`${Astro.url.origin}/og?title=${title}`} />
		<meta name='generator' content={Astro.generator} />
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'>
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
		<link rel='manifest' href='/site.webmanifest'>
		<link rel='preconnect' href='https://fonts.googleapis.com'>
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
		<link href='https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap' rel='stylesheet'>
		<title>{ `${t(`title.${title}`)} — ${t('title.name')}` }</title>
	</head>
	<body>
		<nav id='desktopNavbar'>
			<a href='/'><span>əkrəm<span>.</span></span></a>
			<a href='/about'>{ t('title.about') }</a>
			<a href='/projects'>{ t('title.projects') }</a>
			<a href='/blog'>{ t('title.blog') }</a>
			<a href='/contact'>{ t('title.contact') }</a>
		</nav>
		<slot />
	</body>
</html>

<style lang='scss' is:global>
	body {
		margin: 0;
		background-color: #000;
		color: #fff;
		font-family: 'Manrope', sans-serif
	}

	a {
    color: currentColor;
    text-decoration: none;
  }

	nav a, footer a {
		text-decoration-color: #fff;
    text-underline-offset: 6px;
  }

  nav a:hover, footer a:hover {
    text-decoration: underline;
  }

	#desktopNavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    padding: 2rem 0;
    text-transform: uppercase;

    a:first-child {
      font-weight: 800;
      font-size: 1.5rem;
      text-transform: lowercase;
      text-decoration: none;

      span span {
        color: #ABABAB
      }
    }
  }
</style>